[[source]]
url = "$CLOUDSMITH_PIP_INDEX_URL"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.99.1"
requests = "*"
okta = "*"
structlog = "*"
mangum = "*"
pydantic = "*"
httpx = "*"

[dev-packages]
black = "*"
pytest = "*"
uvicorn = "*"
bandit = "*"

[requires]
python_version = "3.11"
